@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand-font{
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  /* shared styles */
   .header{
      margin: 20px 140px 60px 140px;
      box-sizing: border-box; 
   }
   main{
     
   }
  /* Nav-bar related styles */
  .navbar{
     display: flex;
     align-items: center;
     justify-content: space-between;
   
  }
  .school-logo{
     display: flex;
     gap: 1rem;
  }
  
  .Nav-Links{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 3rem;
  }
  
  #link{
   text-decoration: none;
   }
  .nav-link-1{
   font-family: "Quicksand", serif;
   font-weight: 700;
   font-size: 1.25rem;
   color: rgba(254, 163, 1, 1);
  }
  .nav-link-2{
   font-family: "Quicksand", serif;
   font-weight: 500;
   font-size: 1.25rem;
   color: rgba(1, 172, 253, 1);
  }
  .nav-link-3{
   font-family: "Quicksand", serif;
   font-weight: 500;
   font-size: 1.25rem;
   color: #05D4DF;
  }
  .nav-link-4{
   font-family: "Quicksand", serif;
   font-weight: 500;
   font-size: 1.25rem;
   color: #5D58EF;
  }
  .nav-button{
   font-family: "Quicksand", serif;
   font-weight: 600;
   font-size: 1.25rem;
   color: #FFFFFF;
   width: 12.3125rem;
   height: 3.125rem;
   background-color: #FEA301;
   border: none;
   border-radius: 0.75rem;
   
  }
  .burger{
   display: none;
   font-size: 2rem;
   cursor: pointer;
  }
  /* Banner section styles */
  .banner{
   display: flex;
   justify-content: space-between;
   align-items: center;
  }
  .banner-title{
   font-family: "Quicksand", serif;
   font-weight: 700;
   font-size: 3.5rem;
  }
  .orange{
   color: #FEA301;
  }
  .black{
   color: #000000;
  }
  .blue{
   color: #01ACFD;
  }
  .banner-description{
   font-family: "Quicksand", serif;
   font-weight: 400;
   font-size: 1.25rem;
   color: #000000;
  }
  .banner-button{
   font-family: "Quicksand", serif;
   font-weight: 700;
   font-size: 1.25rem;
   color: #FFFFFF;
   background-color: #000000;
   width: 12.3125rem;
   height: 3.125rem;
   border: none;
   border-radius: 0.75rem;
  }
  .banner-image{
   max-width: 100%;
   height: auto;
  }
  /* Standard curriculum related styles */
  .standard-curriculum{
   background-image: url(../assets/bg.png);
  background-repeat:no-repeat;
   background-size: cover;
   background-position: center;
 

  }
  .curriculum-title{
   font-family: "Quicksand", serif;
   font-weight: 700;
   font-size: 2.875rem;
   color: #000000;
   text-align: center;
   margin-top: 60px;
}
  .card-container{
   display: flex;
   gap: 2rem;
   justify-content: center;
   align-items: center;
   width: 100%;
  
  
  
  }
  .card-1{
   background:linear-gradient(#DEF5FF, #FFFFFF);
   border-radius: 1.125rem;
   box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
   padding: 3rem;
   max-width: 400px;
   
  }
  .card-2{
   background: linear-gradient(#FFF4DC, #FFFFFF);
   border-radius: 1.125rem;
   box-shadow: 0ox 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
   padding: 3rem;
   max-width: 400px;
  }
  .card-3{
   background: linear-gradient(#F2E8FF, #FFFFFF);
   border-radius: 1.125rem;
   box-shadow: 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
   padding: 3rem;
   max-width: 400px;
  }
  .card-image{
   
   text-align: center;
  }
  .card-title{
   font-family: "Quicksand", serif;
   font-weight: 700;
   font-size: 1.5rem;
   color: #202020;
   text-align: center;
  }
  .card-description{
   font-family: "Raleway", serif;
   font-weight:500 ;
   font-size: 0.943125rem;
   color: #808080;
   text-align: center;
  }
  .read-more{
   font-family: "Quicksand", serif;
   text-align: center;
  }
  .read-more-1{
   font-family: "Quicksand", serif;
   font-weight: 700;
   font-size: 0.943125rem;
   color: #64C8FF;
   text-decoration: none;
   }
  .read-more-2{
   font-family: "Quicksand", serif;
   font-weight: 700;
   font-size: 0.943125rem;
   color: #F0AA00;
   text-decoration: none;
   }
  .read-more-3{
   font-family: "Quicksand", serif;
   font-weight: 700;
   font-size: 0.943125rem;
   color: #8700FF;
   text-decoration: none;
  }
  .fa-solid{
   color: #F0AA00;
  }
  .arrow{
   text-align: center;
  }
  
  /* Responsive Media Query */
  @media screen and (max-width: 576px) {
    .header{
      margin: 0;
    }
   .Nav-Links{
      display: none;
   }
   #link{
      display: none;
   }
   .nav-button{
      display: none;
   }
   .school-name{
      display: none;
   }
   .burger{
      display: block;
   }
   .navbar{
      display: flex;
      justify-content: space-between;
      border-bottom: 2px solid #F0AA00;
      padding-bottom: 10px;
   }
   .banner{
      flex-direction: column-reverse;
      text-align: center;
      align-items: center;
      padding: 1rem;
   }
   .banner-title{
      font-size: 2rem;
   }
   .banner-description{
      font-size: 1rem;
   }
   .banner-image{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
   }
   .banner-image img {
      max-width: 100%;
      height: auto;
      object-fit: cover;
   }
   /* Responsive curriculum */
   
   .card-container{
      flex-direction: column;
      gap: 1rem;
   }
   .curriculum-title{
      display: flex;
      justify-content: center;
      align-items: center;
     }
     .arrow{
      display: none;
     }
     
  }